.cusLink {
    color: #FFCB97 !important;
}


label {
    margin-top: 10px;
}

.input {
    padding: 6px;
    border-radius: 5px;
    border: 1px solid rgb(197, 197, 197);
}

.formWrapper {
    color: white;
    flex-direction: column;
    height: 100%;
    text-align: left;
}

.error {
    color: red;
    font-size: x-small;
}