.navContainer {
    width: 100%;
    position: sticky;
}

.title {
    font-size: 2.2rem !important;
    font-weight: bolder !important;
    color: #FFCB97 !important;
}

.navLink {
     border: 1px solid transparent;
     color: #FFCB97 !important;
}

.navLink:hover {
    border-bottom-style: solid;
    border-bottom-color: #FFCB97;
}
