.imgSlide {
    background-color: black;
    height: 300px;
}

img {
    background-color: black;
    height: 11rem;
}

@media (max-width: 765.98px) {
    .cardWrapper {
        flex-wrap: wrap;
    }
}
