.menuBar {
    background-color: white;
    color: #3D3D3D !important;
    text-align: center;
}

.search {
    background-color: rgb(189, 189, 189);
    width: 450px;
}

h6 {
    margin: 0.5rem !important;
}

a {
    text-decoration: none !important;
    color: #3D3D3D !important;
    cursor: pointer !important;
}

.userImage {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}