h1 {
    font-size: 3.2rem !important;    
}

.shopImage {
    height: 80vh;
}

.Auth {
    display: flex;
    justify-content: center;
    align-items: center;
}

.formContainer {
    height: 80vh;
    padding-top: 20px;
    text-align: center;
}

.Image {
    position: absolute;
    top:15%;
    left: 0px;
    height: 500px;
    width: 500px;
}

.checkAuth {
    color: rgb(17, 17, 255);
    cursor: pointer;
}